:root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
    --bg-operation: #fa8231;
}

.botao {
    padding: 5px;
    text-align: center;
    font-size: 1.4em;
    background-color: var(--bg-button);
    font-weight: bold;
    color: #333;
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    transition: 0.5s all;
}

.botao:active {
    background-color: #a3a3a3;
}

.botao.dobro {
    grid-column: span 2;
}

.botao.triplo {
    grid-column: span 3;
}

.botao.operation {
    background-color: var(--bg-operation);
    color: #fff;
}

.botao.operation:active {
    background-color: #bd5612;
}