@charset 'utf-8';

@font-face {
  font-family: 'Roboto Mono';
  src: url(fonts/RobotoMono-Thin.ttf) format('truetype');
  font-weight: normal;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Mono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
}